// Color variables
$c-white:                   #fff;
$c-black:                   #000;
$c-denim:                   #116cb4;
$c-radical-red:             #f62355;
$c-alto:                    #dcdcdc;

// Font-family variables
$ff-lucida-grande:          "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
$ff-baskerville:            Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
$ff-futura:                 Futura, "Trebuchet MS", Arial, sans-serif;
