// Color variables
$c-white:                   #fff;
$c-black:                   #000;
$c-denim:                   #116cb4;
$c-radical-red:             #f62355;
$c-alto:                    #dcdcdc;
$c-concrete:                  #f3f3f3;

// Font-family variables
$ff-lucida-grande:          "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
$ff-baskerville:            Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
$ff-gill-sans:              "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
