@import '../../shared/Variables/Variables';

body {
  font-family: $ff-baskerville;
  line-height: 1.5;
  color: $c-black;
  background-color: $c-alto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}
